body {
    font-size: 18px;
    font-family: 'courier';
    background-color: #333;
    color: white;
}
.text-center {
    text-align: center;
}

/* Button */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/* Cake */
:root {
    --vanilla: #f0e4d0;
    --chocolate: #553c13;
}

body {
    background-color: #333;
}


.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -125px;
}

.plate {
    width: 270px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow:
        0 2px 0 #b3b3b3,
        0 4px 0 #b3b3b3,
        0 5px 40px rgba(0,0,0,0.5);
}

.cake > * {
    position: absolute;
}

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--chocolate);
    box-shadow:
        0 2px 0px #6a4c1a,
        0 4px 0px #48330f,
        0 6px 0px #3d2b0c,
        0 8px 0px #332309,
        0 10px 0px #2c1e07,
        0 12px 0px #241905,
        0 14px 0px #1c1404,
        0 16px 0px #131002,
        0 18px 0px #0b0901,
        0 20px 0px #040400,
        0 22px 0px #000000,
        0 24px 0px #000000,
        0 26px 0px #000000,
        0 28px 0px #000000,
        0 30px 0px #000000;
}

.layer-top {
    top: 0px;
}

.layer-middle {
    top: 33px;
}

.layer-bottom {
    top: 66px;
}

.icing {
    top: 2px;
    left: 5px;
    background-color: var(--vanilla);
    width: 240px;
    height: 90px;
    border-radius: 50%;
    position: relative;
}

.icing::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: #f5e9d5;
    box-shadow:
        0 0 4px #f7edd7,
        0 0 4px #f7edd7,
        0 0 4px #f7edd7;
    border-radius: 50%;
    z-index: 1;
}

.drip {
    display: block;
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--vanilla);
}

.drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px;
}

.drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
}

.drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.candle {
    background-color: #7B020B;
    width: 16px;
    height: 50px;
    border-radius: 8px / 4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
}

.candle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: #990309;
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow:
        0 0 10px rgba(255,165,0,0.5),
        0 0 20px rgba(255,165,0,0.5),
        0 0 60px rgba(255,165,0,0.5),
        0 0 80px rgba(255,165,0,0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
    0% {
        transform: skewX(5deg);
        box-shadow:
            0 0 10px rgba(255,165,0,0.2),
            0 0 20px rgba(255,165,0,0.2),
            0 0 60px rgba(255,165,0,0.2),
            0 0 80px rgba(255,165,0,0.2);
    }
    25% {
        transform: skewX(-5deg);
        box-shadow:
            0 0 10px rgba(255,165,0,0.5),
            0 0 20px rgba(255,165,0,0.5),
            0 0 60px rgba(255,165,0,0.5),
            0 0 80px rgba(255,165,0,0.5);
    }
    50% {
        transform: skewX(10deg);
        box-shadow:
            0 0 10px rgba(255,165,0,0.3),
            0 0 20px rgba(255,165,0,0.3),
            0 0 60px rgba(255,165,0,0.3),
            0 0 80px rgba(255,165,0,0.3);
    }
    75% {
        transform: skewX(-10deg);
        box-shadow:
            0 0 10px rgba(255,165,0,0.4),
            0 0 20px rgba(255,165,0,0.4),
            0 0 60px rgba(255,165,0,0.4),
            0 0 80px rgba(255,165,0,0.4);
    }
    100% {
        transform: skewX(5deg);
        box-shadow:
            0 0 10px rgba(255,165,0,0.5),
            0 0 20px rgba(255,165,0,0.5),
            0 0 60px rgba(255,165,0,0.5),
            0 0 80px rgba(255,165,0,0.5);
    }
}


/* Check */
#startconsoledebug {
            background-color: yellow;
}

#stopconsoledebug {
    background-color: orange;
}

#microphonestatus, #audiostatus, #recording {
    font-size: 36px;
    font-family: 'courier';
    background-color: black;
    color: white;
}